body {
  font-family: Arial;
  background: linear-gradient(135deg, #ffcc70, #ff7eb3);
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.box {
  background: white;
  padding: 25px;
  border-radius: 15px;
  width: 300px;
  text-align: center;
}

input, textarea {
  width: 90%;
  margin: 8px 0;
  padding: 10px;
  border-radius: 10px;
  border: 1px solid #ddd;
}

button {
  background: #ff9800;
  color: white;
  border: none;
  padding: 10px;
  width: 100%;
  border-radius: 10px;
  cursor: pointer;
}